/* Container principal */
.sidebar {
    width: 70px;
    height: 100vh;
    background-color: #f8f9fa;
    color: #000;
    display: flex;
    flex-direction: column;
    border-radius: 0 20px 20px 0;
    transition: width 0.3s ease-in-out;
    position: fixed;
    overflow: visible;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    padding: 0;
  }
  
  .sidebar.open {
    width: 250px;
  }
  
  /* Cabeçalho */
  .header {
    display: flex;
    align-items: center;
    padding: 20px;
  }
  
  .header h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
  }
  
  .toggle-button {
    position: absolute;
    top: 20px; /* Ajuste conforme necessário */
    right: -22px; /* Metade da largura do botão para fora */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    color: #000;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    font-size: 1rem;
    width: 44px;
    height: 44px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: all 0.3s;
    z-index: 10;
  }
  
  .toggle-button:hover {
    background-color: #ddd;
  }
  
  /* Menu */
  .menu {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 0;
  }
  
  .menu-item {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 10px 20px;
    font-size: 1rem;
    color: #333;
    cursor: pointer;
    transition: all 0.3s;
    border-radius: 15px;
    margin: 0 10px;
  }
  
  .menu-item:hover {
    background-color: #e9ecef;
    color: #000;
  }
  
  .menu-item .icon {
    font-size: 1.5rem;
  }
  
  /* Logout estilizado */
  .menu-item:last-child {
    margin-top: auto;
  }
  