body{
    background-image: url(../../imgs/login-fundo.png);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-size: cover;
}

.container{
    align-items: center;
    display: flex;
    justify-content: center;
}

BiEnvelope{
    border-right: #fff;
}

.containerCentral{
    align-items: center;
    justify-content: center;
    display: flex;
    width: 883.89px;
    height: 636px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.268);
    border-color: white;
    border-style: solid;
    border-width: 1px;

    .tituloSite{
        font-size: 70px;
        color: #fff;
        margin-bottom: -15px;
        margin-top: -15px;
    }

    .subtituloSite{
        font-size: 39px;
        color: #fff;
        letter-spacing: 5%;
        margin-top: 0;
    }
}

.centralDireito{
    justify-content: center;
    align-items: center;
    display: flex;
}

.inputEmail, .inputSenha{
    input, MaskedInput{
        width: 600px;
        height: 45px;
        border: none;
        border-radius: 15px;
        background: rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(10px);
        font-weight: 76.37;
        font-size: 22px;
        line-height: 29.26px;
        color: rgba(255, 255, 255, 0.5);
        padding-left: 8px;
    }

    input::placeholder, MaskedInput::placeholder{
        font-weight: 76.37;
        font-size: 22px;
        line-height: 29.26px;
        color: rgba(255, 255, 255, 0.5);
        padding-left: 8px;
    }

    input:focus{
        outline: none;
    }

}

.inputEmail svg,
.inputSenha svg {

font-size: 2.2rem;
color: #fff;
}

.inputEmail{
    margin-bottom: 57px;
}

.inputSenha{
    margin-bottom: 90px;
    margin-bottom: 0;
}

.conectadoSenha{
    display: flex;
    justify-content: space-between;
    color: #fff;
    cursor: pointer;
}

label:hover{
    text-decoration: none;
    color: #aa96b8;
    cursor: pointer;
}

.esqueceuSenha{
    font-size: 17px;
    color: #fff;
    text-decoration: none;
}

a:hover{
    text-decoration: none;
    color: #aa96b8;
}

.entrar{
    background-color: rgba(40, 0, 71, 1);
    width: 234px;
    height: 46px;
    border: none;
    border-radius: 10px;
    margin-top: 40px;

    color: #fff;
    font-size: 22px;
}