.infosPrincipaisSettings{
    display: flex;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 25px;
    flex-direction:row;
    align-items: center; /* Centraliza verticalmente */
    justify-content: center; /* Centraliza horizontalmente */
    width: 100%;
    height: 90vh;
    gap: 7%;
    
    box-shadow: 0px 0px 19.1px -7px rgba(0, 0, 0, 0.11);
}

.infosPrincipaisSettings > * {
  transform: translateY(-50px); /* Move o conteúdo para cima */
}

.profile-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  
  .profile-photo {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: #e0e0e0;
  }
  
  .edit-photo-button {
    background-color: #5b24f2;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .edit-photo-button:hover {
    background-color: #4a1ec2;
  }
  
  .form-section {
    width: 60%;
  }
  
  .input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }
  
  .input-group label {
    text-align: start;
    font-size: 14px;
    color: #5b24f2;
    margin-bottom: 5px;
  }
  
  .input-group input {
    border: 1px solid #5b24f2;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
  }
  
  .input-group input::placeholder {
    color: #aaa;
  }